html 
{
    background-image:url('images/noteborder5.jpg'); 
    background-repeat:repeat-y; 
    background-position:center;
}

.main 
{ 
    padding-left:85px;
    padding-right:10px;
    width: 705px;
    margin-left: auto;
    margin-right: auto;
    font-family: calibri;
}

.page-header
{
    font-size:x-large;
    font-weight: bold;
    margin-bottom: 10pt;
}
.sub-header
{
    font-size:large;
    font-weight: bold;
    margin-bottom: 0pt;
}
.ImageLeft
{
    float:left;
    padding: 10px;
    text-align:center;
    font-size:smaller;
}
.ImageRight
{
    float:right;
    padding: 10px;
    text-align:center;
    font-size:smaller;
}

